@media (max-width:1024px){
    li {margin-right: 10px;}
    .wraper-div{padding: 50px 30px;}
    .wraper-div2{padding: 0px;}
    .title{display: none;}
    .long-div{flex-wrap: wrap;
        height: auto;
        margin: 0 auto;}
    .right-block{display: none;}
    .small-div{max-width: 40%;
        margin: 20px auto;}}
@media (max-width:768px){
    li {display: none;}
    .bar{display: inline-block;}
}
@media (max-width:500px){
    .small-div{margin: 0;}
    .long-div {display: flex;
        flex-direction: column;
        align-items: center;}
    .small-div{margin: 20px 0px;
        background-color: white;
        height: auto;
        max-width: 65%;}
    .left-block{height: auto;}
    .wraper-div2{
        background-color: #f5f5f5;
        margin-top: 30px;
        height: auto;}
    .read{margin: 0 auto;
        margin-top: 20px;}
}
















































